{% extends 'base.html' %}

{% block title %}Products - Army Supplies{% endblock %}

{% block content %}
<h1>Our Products</h1>
<div class="product-list">
    <div class="product-item">
        <img src="/static/images/4.jpg" alt="Product 1 Image" width="1000" height="500">
        <h2>ARMADYNE CARBINE RIFLE</h2>
        <p>The Armadyne Carbine Rifle is a high-performance,
            compact rifle designed for military and law enforcement personnel.
            Its lightweight and durable construction make it ideal for close-quarters combat
            and rapid deployment situations. The rifle features a 14.5" barrel, collapsible stock,
            and a Picatinny rail system for easy accessory attachment. With its reliable gas-operated
            system and ambidextrous controls, the Armadyne Carbine Rifle is a versatile and effective
            weapon for any tactical situation.</p>
        <button>Add to Cart</button>
    </div>
    <div class="product-item">
        <img src="/static/images/5.jpg" alt="Product 2 Image">
        <h2>Men soft shell plush and thick mountain climbing clothes Shark Skin Charge Suit</h2>
        <p>Experience the ultimate in comfort and performance with our Shark Skin Charge Suit.
            Designed for mountain climbing enthusiasts, this soft shell plush and thick clothing
            provides exceptional warmth and protection against the elements.</p>
        <button>Add to Cart</button>
    </div>
</div>
{% endblock %}